---
import BaseLayout from "../layouts/BaseLayout.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<BaseLayout>
  <main id="swup" class="flex-1 z-10">
    <section
      class="container max-w-[640px] mx-auto grid items-center justify-center pt-6"
    >
      <div class="w-full flex items-center justify-center pt-6 py-1">
        <h1>Invitation</h1>
      </div>
      <article class="mt-16 prose">
        <h2>Georgia & Nic</h2>
        <h3>Would like to cordially invite you...</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          deserunt nobis sit. Enim, quisquam consequuntur. Ab, dolorem. Quam
          excepturi ullam tenetur! Voluptate tempora exercitationem commodi,
          veritatis suscipit inventore in quae?
        </p>
      </article>
    </section>
    <section
      class="container max-w-[640px] mx-auto grid items-center justify-center pt-6"
    >
    </section>
  </main>
</BaseLayout>
