---
import ArticleText from "../components/ArticleText.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main class="flex-1 z-10">
    <section
      class="container max-w-[640px] mx-auto grid items-center justify-center pt-6"
    >
      <ArticleText>
        <h1>Registry</h1>
        <p class="gara">
          Please do not feel obliged to give us a gift, as your presence on our
          special day is all we could ask for. However, if you would like to
          give us a gift we have created a wishing well.
        </p>
      </ArticleText>
    </section>
  </main>
</BaseLayout>
