---
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticleText from "../components/ArticleText.astro";
import RSVPForm from "../components/RSVPForm.vue";
---

<BaseLayout>
  <main id="swup">
    <section class="container flex items-center justify-center">
      <ArticleText>
        <h1>RSVP</h1>
        <RSVPForm client:visible />
      </ArticleText>
    </section>
  </main>
</BaseLayout>
