---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header class="flex text-center items-center justify-center flex-col pt-6">
  <h2>
    <a href="/">{SITE_TITLE}</a>
  </h2>
  <nav class="uppercase text-s">
    <HeaderLink class="px-1" href="/invite">Invitation</HeaderLink> |
    <HeaderLink class="px-1" href="/location">Location</HeaderLink> |
    <HeaderLink class="px-1" href="/transport">Transport</HeaderLink> |
    <!-- <HeaderLink class="px-1" href="#">Gifts</HeaderLink> -->
    <HeaderLink class="px-1" href="/rsvp">RSVP</HeaderLink>
  </nav>
</header>
<style></style>
