---
import RsvpButton from "./RsvpButton.astro";
---

<section
  class="container max-w-[640px] mx-auto items-center justify-center pt-6"
>
  <a class="hover" href="/rsvp">
    <div class="atropos my-atropos">
      <!-- scale container (required) -->
      <div class="atropos-scale">
        <!-- rotate container (required) -->
        <div class="atropos-rotate">
          <!-- inner container (required) -->
          <div class="atropos-inner">
            <div
              class="w-full px-4 z-1 bg-center min-h-[70vh] bg-cover rounded-lg flex items-center justify-center"
              style="background-image:url('/main-img.png')"
            >
              <div
                class="min-w-full flex items-center flex-col justify-center pt-6 py-1"
              >
                <div class="uppercase text-center text-white">
                  <h3>Martin and Jeanne Shannon</h3><p
                    class="cursive lowercase text-5xl"
                  >
                    together with
                  </p><h3>Paul Benson & the late Sally Benson</h3>
                </div>
                <RsvpButton />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</section>
