---
---

<div class="flex items-center justify-center">
  <a href="/rsvp"
    ><button
      class="border-1 bg-white shadow-sm rounded-md mt-4 px-8 py-4 hover:bg-black hover:text-white cursor-pointer transition 2s"
      >RSVP</button
    >
  </a>
</div>
