---
---

<template>
  <script>
    import Rellax from "rellax";
    const rellax = Rellax(".rellax");
    rellax.refresh();
  </script>
  <div class="z-0" data-rellax-speed="9">
    <div
      class="rellax w-32 h-32 z-0 absolute left-0 bottom-16 rounded-full bg-black opacity-25 transition-opacity duration-200 mix-blend-multiply pointer-events-none"
    >
    </div>
  </div>
  <div
    class="rellax w-64 h-64 z-0 absolute md:right-32 -right-32 top-16 rounded-full bg-black opacity-25 transition-opacity duration-200 mix-blend-multiply pointer-events-none"
    data-rellax-speed="-10"
  >
  </div>
  <style></style>
</template>
